<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
  <a href="mailto:kanakagarwalaero@gmail.com" rel="nofollow noopener noreferrer me">
    <i class="fas fa-xl fa-fw fa-envelope" aria-hidden="true" style="padding-left: 0em"></i> Email
  </a>
</li>

<li>
  <a href="https://www.linkedin.com/in/kanakaero/" rel="nofollow noopener noreferrer me">
    <i class="fab fa-xl fa-fw fa-linkedin" aria-hidden="true" style="padding-left: 0em"></i> LinkedIn
  </a>
</li>

<li>
  <a href="https://github.com/kanakaero" rel="nofollow noopener noreferrer me">
    <i class="fab fa-xl fa-fw fa-github" aria-hidden="true" style="padding-left: 0em"></i> GitHub
  </a>
</li>

<li>
  <a href="https://orcid.org/0009-0003-9509-1557" rel="nofollow noopener noreferrer me">
    <i class="ai ai-fw ai-orcid ai-lg" aria-hidden="true" style="padding-left: 0.3em"></i> ORCID
  </a>
</li>

<li>
  <a href="https://www.researchgate.net/profile/Kanak-Agarwal-3" rel="nofollow noopener noreferrer me">
    <i class="ai ai-fw ai-researchgate ai-lg" aria-hidden="true" style="padding-left: 0.3em"></i> ResearchGate
  </a>
</li>

<li>
  <a href="https://scholar.google.com/citations?user=SEanjCoAAAAJ" rel="nofollow noopener noreferrer me">
    <i class="ai ai-fw ai-google-scholar ai-lg" aria-hidden="true" style="padding-left: 0.3em"></i> Google Scholar
  </a>
</li>