<meta charset="utf-8">
<meta name="google-site-verification" content="pBbwswdekxBpRj6A8-rFbSppKpG2kfweL7RTi2zuLKs" />

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="theme_source">
{% if site.minimal_mistakes_skin2 %}
  <link rel="stylesheet" href="{{ '/assets/css/theme2.css' | relative_url }}" id="theme_source_2">
  <script>
    if (sessionStorage.getItem('theme') === null) {
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        sessionStorage.setItem('theme', 'dark');
      }
      else{
        sessionStorage.setItem('theme', 'light');
      }
    }

    let theme = sessionStorage.getItem('theme');
    if (theme === 'dark' || window.matchMedia('(prefers-color-scheme: dark)').matches){
      document.getElementById('theme_source').setAttribute('rel', 'stylesheet alternate'); 
      sessionStorage.setItem('theme', 'dark');
    }
    else
    {
      document.getElementById('theme_source_2').setAttribute('rel', 'stylesheet alternate'); 
      sessionStorage.setItem('theme', 'light');
    }
  </script>
{% endif %}

<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/assets/images/fav.png">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ site.url }}/assets/images/fav.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/fav.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/fav.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/fav.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/fav.png">
