---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.icon-black {
  color: black !important;
}

.sidebar { opacity: 1; }

.greedy-nav .visible-links a:before {
  background-color: black;
}

.archive__st {
  margin: 3.5% 0 1em 0;
  padding-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: 400;
  color: $muted-text-color;
  border-bottom: 2px solid black;

  + .list__item .archive__item-title {
    margin-top: 1em;
  }
}

.textp {
  text-align: justify;
  font-size: 19px; 
}

.textp a {
  color: blue;
  text-decoration: none;
}

.textp a:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

.textp p {
  line-height: 1.8;
}

.textp ul {
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.textp ul li {
  padding-left: var(--gutter);
}

.textp ul li::marker {
  content: "\f072";
  font-family: FontAwesome;
  font-size: var(--icon-size);
}


.text1 {
  text-align: justify;
  font-size: 19px; 
}

.text1 a {
  color: blue;
  text-decoration: none;
}

.text1 a:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

.text1 p {
  line-height: 1.8;
}

.text1 ul {
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text1 ul li {
  padding-left: var(--gutter);
}

.text1 ul li::marker {
  content: "\f0fb";
  font-family: FontAwesome;
  font-size: var(--icon-size);
}


.text2 {
  text-align: justify;
  font-size: 19px; 
}

.text2 a {
  color: blue;
  text-decoration: none;
}

.text2 a:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

.text2 p {
  line-height: 1.8;
}

.text2 ul {
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text2 ul li {
  padding-left: var(--gutter);
}

.text2 ul li::marker {
  content: "\f1d8";
  font-family: FontAwesome;
  font-size: var(--icon-size);
}


.theme-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0.5rem;
  color: inherit;
  cursor: pointer;

  i {
    color: inherit;
  }
}

.theme-toggle-btn:focus {
  outline: none;
  box-shadow: none;
}