---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.icon-black {
  color: black !important;
}

.sidebar { opacity: 1; }

.archive__st {
  margin: 1em 0 01em 2em;
  padding-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: 400;
  color: $muted-text-color;
  border-bottom: 2px solid black;
  width: 100%;
  width: 24em; /* or specify a width that fits your layout */

  + .list__item .archive__item-title {
    margin-top: 1em;
  }
}

.text {
  position: relative;
  text-align: justify;
  width: 54em; /* or specify a width that fits your layout */
  font-size: 19px; 
  box-sizing: content-box; /* Reset box-sizing to default */
}

.text a {
  text-decoration: none;
}

.text1 a {
  text-decoration: none;
}

.text2 a {
  text-decoration: none;
}

.text a:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

.text1 a:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

.text2 a:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

.text p {
  margin-left: 4.1em; /* Adjust as needed */
  line-height: 1.8;
  /* Additional styling for your text */
}

.text ul {
  margin-left: 4.5em; /* Adjust as needed */
  /* Additional styling for your text */
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text ul li {
  padding-left: var(--gutter);
}
.text ul li::marker {
  content: "\f072"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.text1 {
  position: relative;
  text-align: justify;
  width: 54em; /* or specify a width that fits your layout */
  font-size: 19px; 
  box-sizing: content-box; /* Reset box-sizing to default */
}

.text1 ul {
  margin-left: 4.5em; /* Adjust as needed */
  /* Additional styling for your text */
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text1 ul li {
  padding-left: var(--gutter);
}
.text1 ul li::marker {
  content: "\f0fb"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.greedy-nav .visible-links a:before {
  background-color: black;
}

.text2 {
  position: relative;
  text-align: justify;
  width: 54em; /* or specify a width that fits your layout */
  font-size: 19px; 
  box-sizing: content-box; /* Reset box-sizing to default */
}

.text2 ul {
  margin-left: 4.5em; /* Adjust as needed */
  /* Additional styling for your text */
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text2 ul li {
  padding-left: var(--gutter);
}
.text2 ul li::marker {
  content: "\f197"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.greedy-nav .visible-links a:before {
  background-color: black;
}

