---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin2 | default: 'default' }}";
@import "minimal-mistakes";

.sidebar { opacity: 1; }

.greedy-nav .visible-links a:before {
  background-color: cyan;
}

 ::selection {
  color: black;
  background: white;
}

.archive__st {
  margin: 3.5% 0 1em 0;
  padding-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: 400;
  color: $muted-text-color;
  border-bottom: 2px solid white;

  + .list__item .archive__item-title {
    margin-top: 1em;
  }
}

.textp {
  text-align: justify;
  font-size: 19px; 
}

.textp a {
  color: cyan;
  text-decoration: none;
}

.textp a:hover {
  color: white;
  border-bottom: 1.5px solid white;
}

.textp p {
  line-height: 1.8;
}

.textp ul {
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.textp ul li {
  padding-left: var(--gutter);
}

.textp ul li::marker {
  content: "\f072";
  font-family: FontAwesome;
  font-size: var(--icon-size);
}


.text1 {
  text-align: justify;
  font-size: 19px; 
}

.text1 a {
  color: cyan;
  text-decoration: none;
}

.text1 a:hover {
  color: white;
  border-bottom: 1.5px solid white;
}

.text1 p {
  line-height: 1.8;
}

.text1 ul {
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text1 ul li {
  padding-left: var(--gutter);
}

.text1 ul li::marker {
  content: "\f0fb";
  font-family: FontAwesome;
  font-size: var(--icon-size);
}


.text2 {
  text-align: justify;
  font-size: 19px; 
}

.text2 a {
  color: cyan;
  text-decoration: none;
}

.text2 a:hover {
  color: white;
  border-bottom: 1.5px solid white;
}

.text2 p {
  line-height: 1.8;
}

.text2 ul {
  --icon-size: 0.95em;
  --gutter: 0.75em;
  padding: 0 0 0 var(--icon-size);
}

.text2 ul li {
  padding-left: var(--gutter);
}

.text2 ul li::marker {
  content: "\f1d8";
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.theme-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0.5rem;
  color: inherit;
  cursor: pointer;

  i {
    color: inherit;
  }
}

.theme-toggle-btn:focus {
  outline: none;
  box-shadow: none;
}

.btn--inverse:focus {
  outline: none;
  box-shadow: none;
}

.greedy-nav__toggle:focus,
.greedy-nav__toggle:active {
  outline: none;
  box-shadow: none;
}
.greedy-nav__toggle {
  transition: none !important;
  box-shadow: none !important;
}
.greedy-nav__toggle .navicon {
  transition: none !important;
  box-shadow: none !important;
}

.site-title {
  display: none !important;

  @media (min-width: 1200px) {
    display: inline-block !important;
  }
}